$font-body    : 'Lato', sans-serif;
$font-heading : 'Montserrat', sans-serif;
$offwhite     : #fEfDf8;
$offblack     : #454545;
$lightgrey    : #ddd;
$grey         : #888;
$darkgrey     : #333;
$yellow       : #FFDE00;
$fast         : 0.3s;
$slow         : 0.6s;
$extraslow    : 1.2s;

/* use n*$base-unit for all font-sizing, (vertical) spacing */
$base-unit    : 24px;
