* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: raleway;
    overflow: hidden
}

.home-menu {
    padding: 0.4em;
    text-align: center;
}
.home-menu {
    background: black;
}

.home-menu .pure-menu-item {
    font-size: 12px;
    letter-spacing: 2px;
}

.home-menu a {
    color: white;
}
.home-menu li a:hover {
    background: black;
    color: gray;
}

/*.top-img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    left: 50%;
    width: 500px;
    height: auto;
    margin-left: -250px;
    z-index: 5;
}*/

.top-img {
    position: absolute;
    margin: auto;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 600px;
    height: auto;
    z-index: 5;
}

#bg-vid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: 1s opacity;
    background-size: cover;
}

