.home-menu {
    padding: 0.4em;
    text-align: center;
}
.home-menu {
    background: black;
}

.home-menu .pure-menu-item {
    font-size: 12px;
    letter-spacing: 2px;
}

.home-menu a {
    color: white;
}
.home-menu li a:hover {
    background: black;
    color: gray;
}

.top-img {
    position: absolute;
    margin: auto;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 600px;
    height: auto;
    z-index: 5;
}

#bg-vid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.vid-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}

