@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic);
/* use n*$base-unit for all font-sizing, (vertical) spacing */
/* structural stuff */
body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #454545;
  font-family: "Libre Baskerville", sans-serif;
  background-color: #fEfDf8;
  font-size: 1.5em; }

/* Adjustments to tag defaults */
::selection {
  background-color: #FFDE00; }

p {
  line-height: 1.5; }
